.nav_bar {
  display: flex;
  /* height: 10vh; */
  /* width: 100vw; */
  height: 50px;
  /* background-color: black; */
  color: white;
  justify-content: space-between;
  padding: 10px 20px 0 20px;
}
.nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav_bar li {
  /* display: block; */
  /* text-align: center; */
  text-decoration: none;
  color: rgb(248, 247, 246);
  padding: 0 10px;
  /* float: left; */

  margin: 0 10px;
}
.nav-bar li:hover {
  color: rgb(241, 216, 216);
  cursor: pointer;
  margin: 0 10px;
}
