.main_section {
  /* display: grid
;
  grid-template-columns: repeat(2, 50vw);
  justify-content: space-around;
  grid-auto-rows: minmax(40px, 200px); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: none;
  height: 90vh;
  /* position: absolute;
  top: 300px; */
  font-family: Inter, Arial, Helvetica, sans-serif;
  line-height: 1.1;
}
.main_section img {
  /* grid-column: 2;
  grid-row: 1 / span 2; */
  /* min-width: 50%; */
  height: 570px;
  width: 616px;
  /* position: relative; */
  /* top: -200px; */
  object-fit: contain;
  margin-left: -350px;
  animation-name: emerge;
  animation-duration: 2s;
}
.main_section h1 {
  align-self: center;
  /* font-size: 50px; */
  /* font-size: 5rem; */
  /* max-width: 250px; */
  font-size: 5rem;
  font-weight: 700;
  width: 650px;
  /* padding-left: 180px; */
  /* margin-left: 155px; */
  text-align: left;
  margin: 0;
  animation-name: emerge;
  animation-duration: 2s;
  animation-timing-function: ease;
}
.main_section button {
  align-self: start;
  /* height: 40px; */
  padding: 2.5vh 5vw;
  background-color: red;
  border-radius: 50px;
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-left: 150px;
  /* padding-top: 40px; */
}
.main_section p {
  font-size: 22px;
  /* text-align: left; */
  margin-left: -200px;
  color: #b9c3cf;
  margin-top: 30px;
  margin-bottom: 40px;
}
@media (max-width: 700px) {
  .main_section {
    /* display: grid
  ;
    grid-template-columns: repeat(2, 50vw);
    justify-content: space-around;
    grid-auto-rows: minmax(40px, 200px); */
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: none;
    height: 90vh;
    /* position: absolute;
    top: 300px; */
  }
}
@keyframes emerge {
  0% {
    bottom: -100px;
    left: -50px;
    width: 0;
  }
  25% {
    /* width: 100%;
    height: 100%; */
    top: 0;
    left: 0;
  }
  50% {
  }
  100% {
  }
}
